 <% if flash[:notice] %>
   <p id="notice">
    <font color="green">
       <%= flash[:notice] %>
    </font>
   </p>
   <% end %>
<p>Title: <%= @book.title %></p>


<p>Body:　<%= @book.body %></p>

<a><%= link_to "Edit", edit_book_path(@book.id) %></a>
|
<a href=/books>back</a>