 <% if flash[:notice] %>
   <p id="notice">
    <font color="green">
       <%= flash[:notice] %>
    </font>
   </p>
   <% end %>
<p>Title: <%= @book.title %></p>


<p>Body:　<%= @book.body %></p>

<a class="Edit" href=<%= edit_book_path(@book.id) %>>Edit</a>
|
<a class="back" href="/books">Back</a>